body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: white;
    text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: top;
  float: none;
}
